<!-- <footer class="page__footer" style="padding: 0.5rem 0; min-height: 0; border-top: 1px solid #eaeaea;"> -->
<!--   <div class="wrapper" style="max-width: 100%; text-align: center; font-size: 0.85rem; margin: 0;"> -->
<!--     <p style="margin: 0;">© Hrishav Bhattarai {{ site.time | date: "%Y" }}</p> -->
<!--     <p style="margin: 0.25rem 0;"> -->
<!--        <a href="https://cal.com/hrishav-bhattarai/" class="footer-link" target="_blank"> -->
<!--         <i class="fa fa-calendar"></i> Schedule a Meeting -->
<!--       </a> | -->
<!--       <a href="mailto:398hrishav@gmail.com" class="footer-link" target="_blank"> -->
<!--         <i class="fas fa-envelope"></i> Email -->
<!--       </a> | -->
<!--       <a href="https://github.com/hrishav398" class="footer-link" target="_blank"> -->
<!--         <i class="fab fa-github"></i> GitHub -->
<!--       </a> | -->
<!--       <a href="https://linkedin.com/in/398hrishav" class="footer-link" target="_blank"> -->
<!--         <i class="fab fa-linkedin"></i> LinkedIn -->
<!--       </a> | -->
<!--         <a href="https://scholar.google.com/citations?user=57pf-1IAAAAJ" class="footer-link" target="_blank"> -->
<!--         <i class="fas fa-graduation-cap"></i> Google Scholar -->
<!--       </a> -->
<!--     </p> -->
<!--   </div> -->
<!-- </footer> -->

